.row h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 600;
}

#Animeimg,
#Mangaimg {
  height: 380px;
  border-radius: 10px;
  box-shadow: 0 10px 15px black;
}

.Animebody,
.Mangabody {
  padding-left: 50px;
}

.Description {
  font-size: 15px;
}

.Anime-btn,
.Manga-btn {
  color: #0717ed;
  height: 10px;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.Trailer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.Trailer-container iframe {
  height: 300px;
  width: 600px;
  box-shadow: 0 10px 15px black;
  border-radius: 10px;
  margin-top: 60px;
}
