.contanier {
  margin-top: 30px;
}

.Search-Card {
  height: 450px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Search-Card img {
  height: 260px;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 10px 15px black;
}

.card-body h5 {
  font-size: 1.2rem;
}
