@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Poppins:wght@200&family=Roboto:wght@400;700&family=Satisfy&display=swap");

body {
  margin: 0;
  color: #fff;
  background-color: #051f44;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
